<div class="row m-1">
<table class="uiBox">
  <tr>
    <td class="heldHtmlArea">
        <h3>Hold</h3>
        <canvas #held class="heldBox" width="120" height="100"></canvas>
    </td>
    <td rowspan="2">
      <canvas #play class="playBox"  width="200" height="400"></canvas>
    </td>
    <td class="nextHtmlArea">
        <h3>Next</h3>
        <canvas #next class="nextBox" width="120" height="100"></canvas>
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="scoreHtmlArea">
      <h2>
        Level: {{level}}
      </h2>
      <h2>
        Lines: {{clearedLines}}
      </h2>
    </td>
  </tr>
</table>
<table class="textBox">
  <tr>
    <td>Controls:</td>
  </tr>
   <tr>
    <td>W: Hard Drop</td>
  </tr>
   <tr>
    <td>S: Soft Drop</td>
  </tr>
   <tr>
    <td>A: Move Left</td>
  </tr>
   <tr>
    <td>D: Move Right</td>
  </tr>
   <tr>
    <td>N: Rotate Left</td>
  </tr>
   <tr>
    <td>M: Rotate Right</td>
  </tr>
  <tr>
    <td>C: Hold</td>
  </tr>
   <tr>
    <td>Space: Pause</td>
  </tr>
  <tr>
    <td>R: Reset</td>
  </tr>
</table>
</div>

<table class="textBox pauseBox" *ngIf="paused">
  <tr>
    <td>
      <h2>Paused</h2>
    </td>
  </tr>
</table>

<table class="textBox" style="margin: 0 0 0 5px">
  <tr>
    <td>
      Author: Jared Miller<br>
      Source: <a href="https://github.com/millerjp-dev/TetrisAngular">https://github.com/millerjp-dev/TetrisAngular</a>
    </td>
  </tr>
</table>
